body{
    background-color: rgb(189, 215, 255);
    font-family: itim;
    font-weight: 10px;
    color: rgb(243, 252, 252);
    border: 1px white solid;
    font-size: 100%;
    /*CHANGE THE FLIPPIN FONT!!*/
}

h1{
    text-align: center;
    text-decoration: underline 1px wavy;
}

.launchpad{
    padding-left: 2%;
    text-align: left;
}

.launchpad h2{
    text-decoration: underline dotted white 1px;
}

.launchpad a{
    padding: 1.2%;
    border-radius: 2vh;
    margin-right: 1%;
    background-color: rgba(255, 255, 255, 0.75);
}

/*.launchpad{
    padding-left: 10px;
    text-align: left;
}

.launchpad h2{
    text-decoration: underline dotted white 1px;
}

.launchpad a{
    padding: 1.5vh;
    border-radius: 2vh;
    background-color: rgba(255, 255, 255, 0.75);
}*/
